<footer>
    <p class="copy">&copy; 2024</p>
    <div class="social-icons">
        <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://discord.com" target="_blank"><i class="fab fa-discord"></i></a> 
    </div>
</footer>
</body>
</html>
