</head>

<body>

<header>
    <div>
        <a href="/">
        <img src="resources/pics/logomoi.png" class="logo" alt="Logo">
        </a>
    </div>
    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/catalogo">Catálogo</a></li>
            <li><a href="/contacto">Contacto</a></li>
            <li><a href="/login">Iniciar Sesión</a></li>
            <li><a href="/adminPanel">Admin</a></li>
            <!-- <li><a href="/registro">Registro</a></li> -->
        </ul>
    </nav>
</header>
