</head>

<body>

<header>
    <div>
        <a href="/"><img src="resources/pics/logo.png" class="logo" alt="Logo"></a>
    </div>
    <nav>
        <ul>
            
            <% if (nickname && nickname !== '') { %>
                <li class="centrar"><a href="/">Inicio</a></li>
                <li class="centrar"><a href="/catalogo">Catálogo</a></li>
                <li class="centrar"><a href="/contacto">Contacto</a></li>
                <li class="centrar"><a href="/logout"><img src="/resources/pics/logout.png" class="logologout"></a></li>
                <li class="centrar"><a href="/panelAdmin" class="nickname"><%= nickname %></a></li>
            <% } else { %>
                <li class="centrar"><a href="/">Inicio</a></li>
                <li class="centrar"><a href="/catalogo">Catálogo</a></li>
                <li class="centrar"><a href="/contacto">Contacto</a></li>
                <li class="centrar"><a href="/login"><img src="resources/pics/login.png" class="logologin"></a></li>
            <% } %> 
        </ul>
    </nav>
</header>
