<%- include('partials/head'); -%>
<link rel="stylesheet" href="/resources/css/error.css">
<%- include('partials/header'); -%>
  <title>Página no encontrada</title>
  <main>
    <div class="container">
      <h1>Error 404</h1>
      <p>La página que buscas <strong><%= url %></strong> no existe.</p>
      <a href="/" class="btn">Volver al inicio</a>
    </div>
  </main>
<%- include('partials/footer'); -%>
