<%- include('partials/head'); -%>
<link rel="stylesheet" href="/resources/css/error.css">
<%- include('partials/header'); -%>
  <title>Fallo en la página</title>
  <main>
    <div class="container">
      <h1>Error 500</h1>
      <p>Ocurrió un error inesperado en nuestro servidor. Por favor, intenta nuevamente más tarde.</p>
      <a href="/" class="btn">Volver al inicio</a>
    </div>
  </main>
<%- include('partials/footer'); -%>
