<%- include('partials/head'); -%>
<%- include('partials/header'); -%>
<link rel="stylesheet" href="/resources/css/inicio.css">
    <div class="contenedor-principal">
        <img src="resources/pics/logooliver.jpg" class="foto-princi"> 
    </div>    
<%- include('partials/footer'); -%>