<%- include('partials/head'); -%>
<%- include('partials/header'); -%>
<link rel="stylesheet" href="/resources/css/login.css">
    <section>
        <div class="container">
          <div class="form-box">
              <h2>Iniciar Sesión</h2>
              <form action="/loginUsers" method="post">
                  <div class="input-group">
                      <input type="text" id="nickname" name="nickname" required>
                      <label for="nickname">Usuario</label>
                  </div>
                  <div class="input-group">
                      <input type="password" id="password" name="password" required>
                      <label for="password">Contraseña</label>
                  </div>
                  <button type="submit" class="btn neon-button">ENTRAR</button>
                  <p class="text">¿No tienes una cuenta? <a href="register" class="link">Regístrate</a></p>
              </form>
          </div>
        </div>
    </section>    
<%- include('partials/footer'); -%>