<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro Exitoso</title>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            alert('<%= success_msg %>');
            setTimeout(() => {
                window.location.href = '/';
            }, 3000); // Redirigir después de 5 segundos
        });
    </script>
</head>
<body>
    <h1>Registro Exitoso</h1>
    <p>Redirigiendo a la página principal...</p>
</body>
</html>
