/* Estilo general */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    text-align: center;
    background-color: #000000;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-size: 4rem;
    color: #dc3545; /* Rojo para indicar un error */
    margin: 0;
  }
  
  p {
    font-size: 1.2rem;
    color: white;
    margin: 15px 0;
  }
  
  a.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  
  a.btn:hover {
    background-color: #0056b3;
  }
  
  /* Adaptabilidad para dispositivos móviles */
  @media (max-width: 768px) {
    .container {
      width: 90%;
      padding: 15px;
    }
  
    h1 {
      font-size: 3rem;
    }
  
    p {
      font-size: 1rem;
    }
  }
  