/*CSS DEL FORMULARIO -----------------------*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-image: url(/resources/pics/fondoformulario1.jpg);
    color: #333;
}


h2{
    text-align:center;
    color:white;
    margin-top:50px;

}
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:20px 0px 55px 0px;
    margin-top: 3px;
}

form {
    float:center;
    font-size: 32px;
    align-items: center;
    border-radius: 10px;
    width:30%;
    font-family: counter;
    
}

.form-inner {
    color:rgb(0, 0, 0);
    text-shadow: 3px 3px 6px #ff02af;
    border-radius: 15px;
    background-color:rgba(5, 5, 5, 0.668);
}

.form-group {
    padding: 15px 100px 15px 15px;
    margin-left: 100px;
    text-align: center;
}

.form-group label {
    display: block;
    margin-bottom: 10px;
}

.form-group input {
    width: calc(100% - 40px);
    padding: 15px;
    box-sizing: border-box;
    border: none;
    border-radius: 8px;
    background-color: 5;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.form-group .eye-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: black;
}

.form-group .eye-icon:hover {
    color: black;
}


.button-container {
    text-align: center;
}

.neon-button {
display: inline-block;
font-family:counter;
margin-top:20px;
margin-bottom: 20px;
padding: 15px 40px;
font-size: 25px;
letter-spacing: 5px;
color: white;
text-decoration: none;
text-transform: uppercase;
border-radius: 30px;
position: relative;
border: 2px solid#e20340;
background-clip: padding-box, border-box;
text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
transition: 0.2s;
background: none;
transition: 0.2s;
}

.neon-button:hover {
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
    background: linear-gradient(135deg, #ff4765, #FC0174); /* Gradiente invertido al hacer hover */
}
